.header {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

}

.header-login-signup{
	background-color:rgb(0, 0, 0);
	box-shadow:0 8px 10px #ccc;
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-login-signup .header-limiter h1{
	float: left;
	font: bold 28px;
	line-height: 40px;
	margin: 0;
}

.header-login-signup .header-limiter a {
	color: #ffffff;
}

.header-login-signup .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-login-signup .header-limiter nav a{
	font-size: 15px;
	display: inline-block;
	padding: 0 15px;
	text-decoration:none;
	line-height: 1;
}

.header-login-signup .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-login-signup .header-limiter ul li {
		display: inline-block;
		margin-left: 25px;
		font-size: 15px;
		color: #ffffff;
}

@media all and (max-width: 600px) {

	.header-login-signup {
		padding: 25px;
		height: 110px;
	}

	.header-login-signup .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-login-signup .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header-login-signup .header-limiter nav li a {
		font-size: 13px;
	}

	.header-login-signup .header-limiter ul {
		margin: 0;
		float: none;
		padding: 0;
	}

	.header-login-signup .header-limiter ul li a {
		margin: 0;
	}	
}

.badge {
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
	background-color: #c67605;
  }

  #lblCartCount {
	  font-size: 12px;
	  background: #ff0000;
	  color: #fff;
	  padding: 0 5px;
	  vertical-align: top;
	  margin-left: -10px; 
  }

body {
	margin:0;
	padding:0;
}